//- select-payment-method.pug
doctype html
html 
	head 
		title Sideshift Payment Integration

		meta( name="robots" content="noindex")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet' href='/main.css')

	body 

		if(coinsDepositList)
			div
				h1 Sideshift Payment Integration - Node.js
					br

				form(method="post" action="/create-quote").custom-select.cool-input
					p Virtual order ID :
					input(type="string" pattern="[a-zA-Z0-9]+"  name="shopOrderID" value="cf5HE1Affb6")
					br
					br
					
					p Virtual order total (#{currency}) :
					input(type="string" pattern="^[0-9]+([.,][0-9]+)?$"  name="total" value="124.00")
					br
					br

					h3 Pay with crypto

					include include/coins-select.pug

					br
					br
					button(type="submit").paybutton Pay
		
		else 
			h1 Error: Not coins list
